In [1]:
import pandas as pd
import numpy as np

### Axis and Indexes in a Series

In [2]:
# create a series of 10 random integers
s = pd.Series([np.random.randint(10) for x in range(10)])
s

0    5
1    6
2    6
3    0
4    9
5    1
6    7
7    2
8    5
9    0
dtype: int64

In [3]:
# show the axis definition - shows 1 Axis (type RangeIndex)
s.axes

[RangeIndex(start=0, stop=10, step=1)]

In [4]:
# show the index
s.index

RangeIndex(start=0, stop=10, step=1)

In [5]:
s.values

array([5, 6, 6, 0, 9, 1, 7, 2, 5, 0])

### Axis and Indexes in a DataFrame

In [6]:
# Create a DataFrame of 5 numbers with words and digit representations in different columns
df = pd.DataFrame({
                  'digits': [1,2,3,4,5],
                  'words': ['one','two','three','four','five']
                })
df

   digits  words
0       1    one
1       2    two
2       3  three
3       4   four
4       5   five

In [7]:
# show the axis definition - shows two axes: 1st axis = Row (type RangeIndex) , 2nd Axis = column (type Index) 
df.axes

[RangeIndex(start=0, stop=5, step=1),
 Index(['digits', 'words'], dtype='object')]

In [8]:
# Show index - default index
df.index

RangeIndex(start=0, stop=5, step=1)

In [9]:
df.columns

Index(['digits', 'words'], dtype='object')

#### Axes can be transposed

In [10]:
# Transpose a DataFrame
dfT = df.T

In [11]:
# show the axis definition - shows axes are transposed
dfT.axes

[Index(['digits', 'words'], dtype='object'),
 RangeIndex(start=0, stop=5, step=1)]

#### Axes can be modified

In [12]:
# (Row) Index is modified to have numbers in step 2 instead of step 1
df.set_axis(pd.RangeIndex(start=0, stop=10, step=2), 
            axis='index')

   digits  words
0       1    one
2       2    two
4       3  three
6       4   four
8       5   five

In [13]:
# (Column) Index is modified to have different names
df.set_axis(['numbers','letters'], 
            axis='columns')

   numbers letters
0        1     one
1        2     two
2        3   three
3        4    four
4        5    five

In [14]:
# Any column can be made a Row Index provided it is unique. Eg: Column Words can be used as the Row Index. 
# New DataFrame has a single column "digits" and a new index derived from column "words"
df.set_index('words')

       digits
words
one         1
two         2
three       3
four        4
five        5

#### Resetting indexes and swapping index with values in DataFrame

In [15]:
# Create a new dataframe by moving "words" from columns to Index. 
df_new = df.set_index('words')
df_new

       digits
words
one         1
two         2
three       3
four        4
five        5

In [16]:
# reset_index pulls out column "words" from the index and puts it in a column as before - VERY IMPORTANT FUNCTION
df_new.reset_index()

   words  digits
0    one       1
1    two       2
2  three       3
3   four       4
4   five       5

In [17]:
# After reset_index, another column "digits" can again be set as index. This is swapping index and values.
df_new.reset_index().set_index('digits')

        words
digits
1         one
2         two
3       three
4        four
5        five