In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({
                  'digits': [1,2,3,4,5],
                  'english': ['one','two','three','four','five'],
                  'spanish': ['uno','dos','tres','cuatro','cinco'],  
                  'french': ['un','deux','trois','quatre','cinq']    
                })
df

   digits english spanish  french
0       1     one     uno      un
1       2     two     dos    deux
2       3   three    tres   trois
3       4    four  cuatro  quatre
4       5    five   cinco    cinq

#### Using only row labels

In [3]:
# Row labels are boolean selectors (hardcoded) - returns 1st, 3rd and 5th row of the DataFrame

df.loc[[True, False, True, False, True]]

   digits english spanish french
0       1     one     uno     un
2       3   three    tres  trois
4       5    five   cinco   cinq

In [4]:
# Row label is a single value from the DataFrame Index 
# This returns a Series with index = columns of the DataFrame and values = actual column values

df.loc[2]

digits         3
english    three
spanish     tres
french     trois
Name: 2, dtype: object

In [5]:
# Row label is a slice object of type start:end for the row index.
# This returns a DataFrame with all columns but with rows having indexes in that slice range i.e. indexes 2,3,4

df.loc[2:4]

   digits english spanish  french
2       3   three    tres   trois
3       4    four  cuatro  quatre
4       5    five   cinco    cinq

#### Using both row and column labels

In [6]:
# Row label is boolean selector for the Row Index i.e. for rows 1,3 and 5
# Column label is a boolean selector for the Column Index i.e. for columns 1 and 3
# Note that the selector lists have the same size as that of the Row Index and 
# the Column Index of the DataFrame respectively

df.loc[[True, False, True, False, True],[True, False, True, False]]

   digits spanish
0       1     uno
2       3    tres
4       5   cinco

In [7]:
# Row label is a single row index value
# Column label is a single column value
# This locates the single element defined by the row and the column - hence returns a scalar value

df.loc[2,'digits']

3

In [8]:
# Row label is a slice object of type start:end for the row index.
# Column label is a single column value
# Returns a Series with the selected row indexes and the selected column

df.loc[2:3, 'digits']

2    3
3    4
Name: digits, dtype: int64

In [9]:
# Row label is a slice object of type start:end for the row index.
# Column label is a subset of the Columns of the DataFrame (subset of the column index).
# Returns a DataFrame with the selected row indexes and the selected columns

df.loc[2:3, ['digits','english']]

   digits english
2       3   three
3       4    four

In [10]:
# Row label is a slice object of type start:end for the row index.
# Column label is a slice object of type start:end for the column index.
# Returns a DataFrame with the selected row indexes (rows 2 to 3) and 
# the selected columns (columns digits to spanish)

df.loc[2:3, 'digits':'spanish']

   digits english spanish
2       3   three    tres
3       4    four  cuatro

In [11]:
# Row labels are boolean selectors based on mod 2 function that generates the same selector list mentioned above

df.loc[df.digits % 2 == 1]

   digits english spanish french
0       1     one     uno     un
2       3   three    tres  trois
4       5    five   cinco   cinq

In [12]:
# Row labels are boolean selectors based on mod 2 function that generates the same selector list mentioned above
# Column labels are boolean selectors based on column name starting letter criteria.

df.loc[df.digits % 2 == 1 , df.columns.str.startswith('e')]

  english
0     one
2   three
4    five