In [1]:
import pandas as pd

In [2]:
# Here the Row Index is the default RangeIndex from 0 through 4
df = pd.DataFrame({
                  'digits': [1,2,3,4,5],
                  'english': ['one','two','three','four','five'],
                  'spanish': ['uno','dos','tres','cuatro','cinco'],  
                  'french': ['un','deux','trois','quatre','cinq']    
                })
df

   digits english spanish  french
0       1     one     uno      un
1       2     two     dos    deux
2       3   three    tres   trois
3       4    four  cuatro  quatre
4       5    five   cinco    cinq

In [3]:
# But let's change the index now to the column 'french'
df.set_index('french' , inplace = True)
df

        digits english spanish
french
un           1     one     uno
deux         2     two     dos
trois        3   three    tres
quatre       4    four  cuatro
cinq         5    five   cinco

In [4]:
# Now this fails, because Index is no more integers from 0 through 5, but are french names for the digits.
df[0]

KeyError: 0

#### Using iloc to retrieve the a row/column based on their positional index

In [ ]:
# This works instead of df.loc[0] because iloc understands 0 as the position of the row, not the index value
# Row label is the positional value of the row to be returned
# This returns a Series with index = columns of the DataFrame (excluding Index column = french) 
# and values = actual column values

df.iloc[0]

In [ ]:
# Row label is a slice object of type start:end for the row index.
# This returns a DataFrame with all columns but with row positions 2 to 4

df.iloc[2:4]

#### Using both row and column labels

In [ ]:
# Row label is a single row position
# Column label is a single column position
# This locates the single element defined by the row and the column position - hence returns a scalar value

df.iloc[2,0]

In [ ]:
# Row label is a slice object of type start:end for the row index.
# Column label is a subset of the Columns of the DataFrame (subset of the column index).
# Returns a DataFrame with the selected row indexes and the selected columns

df.iloc[0:2, 1:3]

In [ ]:
# Row label is a list of row positions
# Column label is a list of column positions
# Returns a DataFrame with the selected row indexes and the selected columns

df.iloc[[0,2,4], [0,2]]